@tailwind base;
@tailwind components;
@tailwind utilities;

/*From https://fonts.google.com/specimen/Roboto+Mono?classification=Monospace*/
@font-face {
    font-family: "Roboto Mono";
    src: url("assets/fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 1 999;
    font-stretch: 25% 150%;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("assets/fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 1 999;
    font-style: italic;
    font-stretch: 25% 150%;
}

.btn {
    @apply bg-slate-600 active:bg-gray-600 hover:bg-gray-500 px-4 py-2 rounded-md disabled:bg-gray-400 shadow;
}